@import "../Page.module.scss";
@import "../../Mixin.scss";
@import "../../Constants.scss";

.s_table__title {
    @include font-title;
}

.s_table__contents {

    table {
        margin: auto;   
    }

    thead {
        height: 100px;
        padding: auto;

        tr > th {
            padding: 0;
            padding-bottom: 20px;
            width: 80px;
        }
    }

    tbody {
        border-top: 1px solid $color-cta;
    }

    tr > th {
        padding : 10px;
        padding-top: 15px;

    }

    tbody {
        text-align: center;

        td > img {
            width: 30px;
            height: auto;
        }
    }

}

