@import "../Page.module.scss";
@import "../../Mixin.scss";
@import "../../Constants.scss";

.s_table__box {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.s_table__title {
    @include font-title;
    padding-top: 50px;
    padding-bottom: 20px;
}

.s_table__contents {

    padding-bottom: 50px;

    table {
        margin: auto;   
        width: 80vw;
        margin-bottom: 30px;

        @media screen and (min-width: 768px) { 
            width: 60vw;
        }

    }

    table > caption {
        text-align: left;
        position: relative;
        left: -4vw;
        margin-bottom: 22px;
    }

    thead {
        // height: 100px;
        padding: auto;

        tr > th {
            padding: 0;
            padding-bottom: 12px;
            width: 80px;
            line-height: 2rem;
            height: 2rem;
        }
    }

    tbody {
        border-top: 1px solid $color-cta;

        span {
            font-size: 0.9rem;
            color: lighten($color-text, 40%);
        }
    }

    tr > th {
        padding : 10px;
        padding-top: 15px;
    }

    tbody {
        text-align: center;

        td > img {
            width: 15px;
            height: auto;
        }
    }

    th {
        width: 30vw;
    }

    td {
        width: 50vw;
    }

}