@import "../Page.module.scss";
@import "../../Mixin.scss";
@import "../../Constants.scss";

//mixin
@mixin color-chip($bg-color) {
    border: 2px solid darken($bg-color, 10%);
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: $bg-color;
    margin: 10px;
}

.ds__title {
    @include font-title;
    margin: 50px;
    margin-left: 20px;
}

.ds__subtitle {
    @include font-subtitle;
    margin: 20px;
    margin-top: 60px;
    border-bottom: 2px solid $color-cta;
    height: 2rem;
}

.ds__color_box_set {
    display: flex;
    justify-content: center;

    .ds__color_box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ds__color_box_main {
        @include color-chip($color-main);
    }
    .ds__color_box_text {
        @include color-chip($color-text);
    }
    .ds__color_box_cta {
        @include color-chip($color-cta);
    }
}

.ds__font_box_set {

    height: 50vh;
    background-color: $color-main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    padding-left: 40px;

    .ds__font_box__title {
        @include font-title;
    }
    .ds__font_box__subtitle {
        @include font-subtitle;
    }
}