div .cate_layer__page {

    .cate_layer__upper_bar {
        position: relative;
        width: 80vw;
        height: 12vh;
        margin-left: 10vw;
        border-bottom: 2px solid #7a6661;
        margin-bottom: 5vh;
    }

    ul  {
        .cate_layer__item {
            padding : 14px;
            margin-left: 13vw;
            line-height:1;
            font-size : rem(15);
            display: block;

            &::before {
                content: '';
                position: absolute;
                width: 4px;
                height: 4px;
                background-color: #262626;
                border-radius: 2px;
                margin-right: 20px;
                margin-top: 5px;
                left: 12vw;
            }
        }

    }

}