@import "../../Mixin.scss";
@import "../../Constants.scss";

div .cate_layer__page {

    .cate_layer__upper_bar {
        position: relative;
        width: 80vw;
        height: 12vh;
        margin-left: 10vw;
        border-bottom: 1.9px solid #{$color-cta};
        margin-bottom: 5vh;
    }

    ul  {
        .cate_layer__item {
            @include font-subtitle;
            padding : 14px;
            margin-left: 13vw;
            line-height:1;
            display: block;

            &::before {
                content: '';
                position: absolute;
                width: 4px;
                height: 4px;
                background-color: #{$color-text};
                border-radius: 2px;
                margin-right: 20px;
                margin-top: 8px;
                left: 12vw;
            }
        }

    }

}