@import "../Constants.scss";

div .page__box {
    color : #{$color-text};
    background-color: #{$color-main};
    width: 100vw;
    height: auto;
    padding-top: #{$hd-height};
    z-index: 2;
    margin-top: 50px;
    margin-bottom: 50px;
}