@import "../Constants.scss";

div .page__box {
    color : #{$color-text};
    background-color: #{$color-main};
    width: 100vw;
    height: 100vh;
    padding-top: #{$hd-height};
    z-index: 2;
    
}