@import "../../Constants.scss";
@import "../../Mixin.scss";

// 변수 설정
$width-cont: 400px;
$height-cont: 200px;

.title__box {
    color : #{$color-text};
    background-color: #{$color-main};
    width: 100vw;
    height: 100vh;
    padding-top: #{$hd-height};
    z-index: 2;
}

.title__contents {

    font-size: 1.5rem;
    margin: 0;
    position: relative;
    width: #{$width-cont};
    height: #{$height-cont};
    left: calc(50% - (#{$width-cont}/2));
    top: calc(40% - (#{$height-cont}/2));
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
        margin: 0;
    }

    span {
        margin: 10px;
    }
}