/*
// 상수 관련 변수 할당
*/

//color
$color-main: #f6f4f1;
$color-text: #262626;
$color-cta: #7a6661;
$color-menu: #231916;

//font
$sans-regular: "GothicA1 D-DIN";
$sans-bold: "GothicA1 D-DIN bold";

$pb-height: 5px; //프로그레스바 높이
$hd-height: 40px; //헤더 높이