@import "./Reset.scss";
@import "./Constants.scss";
@import "./Mixin.scss";

// font
@font-face {
    font-family: #{$sans-regular};
    src: url("./assets/fonts/GothicA1-Light.ttf") format('truetype');
}

@font-face {
    //(영어, 숫자, 특수문자)인 경우 D-DIN 폰트 사용
    font-family: #{$sans-regular};
    src: url("./assets/fonts/D-DIN.ttf") format('truetype');
    unicode-range: U+0020-007E;
}

@font-face {
    font-family: #{$sans-bold};
    src: url("./assets/fonts/GothicA1-SemiBold.ttf") format('truetype');
}

@font-face {
    //(영어, 숫자, 특수문자)인 경우 D-DIN 폰트 사용
    font-family: #{$sans-bold};
    src: url("./assets/fonts/D-DIN-Bold.ttf") format('truetype');
    unicode-range: U+0020-007E;
}

//touch bounce effect 문제
html {
    height  : 100%;
    overflow: hidden;
    position: relative;
}
body {
    height  : 100%;
    overflow: auto;
    position: relative;
    overflow-x: hidden;
}

.App {
    @include font-body;
    background-color: #{$color-main};
    color: #{$color-text};
}