//import
@import "./Constants.scss";

//font 
@mixin font-title {
    font-family: #{$sans-bold};
    font-size: 1.5rem;
    margin: 50px;
    margin-left: 20px;

    @media screen and (min-width: 768px) { 
        font-family: #{$sans-bold};
        font-size: 1.5rem;
        margin: 50px;
        margin-left: 2vw;
    }

}
@mixin font-subtitle {
    font-family: #{$sans-regular};
    font-size: 1.32rem;
    color: #121212;

    @media screen and (min-width: 768px) { 
        font-family: #{$sans-regular};
        font-size: 1.4rem;
        color: #121212;
    }
}

@mixin font-body {
    font-family: #{$sans-regular};
    font-size: 1.1rem;

    @media screen and (min-width: 768px) { 
        font-family: #{$sans-regular};
        font-size: 1.2rem;
    }
}

@mixin dotListing($left) {
    margin-bottom: 1rem;

        &::before {
            content: '';
            position: absolute;
            width: 4px;
            height: 4px;
            background-color: #{$color-text};
            border-radius: 2px;
            margin-right: 20px;
            margin-top: 8px;
            left: #{$left};
        }
}