//변수 할당
$pb-height: 10px; //프로그레스바 높이


div .header__box {

    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;

    .header__menu {
        padding: 10px;
    }
    
    .header__title {

        font-family: "Nanum D-DIN bold";
        padding: 10px;

    }

    .header__button {
        padding: 10px;

    }
}

div .header__box__onlayer {

    z-index: 9;

    .layer__button_close {
        color: red;
        padding: 10px;
    }

    .header__title {
        display: none;

    }

    .header__button {
        display: none;

    }

}



div .body__box {

    padding-top: 50px;

    .body__layer {

    }


    .none {
        display: none !important;
    }



}

div .body__box__onlayer {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


div .footer__progressbar {
    background-color : #7a6661;
    width: 100vw;
    height: #{$pb-height};

    position: fixed;
    z-index: 2;
    top: calc( 100vh - #{$pb-height} );
}

div .footer__progressbar__onlayer {
    display: none;
}